
@font-face {
  font-family: 'DINPro-CondensedBold';
  src: url('DINPro-CondensedBold.eot?#iefix') format('embedded-opentype'),  url('DINPro-CondensedBold.otf')  format('opentype'),
	     url('DINPro-CondensedBold.woff') format('woff'), url('DINPro-CondensedBold.ttf')  format('truetype'), url('DINPro-CondensedBold.svg#DINPro-CondensedBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
