@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto);
html,
button,
input,
select,
textarea {
    color: #41474d;
}

label {
    font-weight: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -webkit-font-smoothing: antialiased;
    position: relative;
    height: 100%;
}

a {
    color: #3e3e3e;
    text-decoration: none;
    outline: none;
    -webkit-transition: opacity 0.2s ease, background-color 0.2s ease, color 0.2s ease;
    -moz-transition: opacity 0.2s ease, background-color 0.2s ease, color 0.2s ease;
    -ms-transition: opacity 0.2s ease, background-color 0.2s ease, color 0.2s ease;
    -o-transition: opacity 0.2s ease, background-color 0.2s ease, color 0.2s ease;
    transition: opacity 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

a:hover {
    text-decoration: underline;
    color: #c6c6c6;
}

a:hover,
a:active,
a:visited,
a:focus {
    outline: none;
}

img {
    outline: none;
    border: none;
    max-width: 100%;
    height: auto;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

html,
body {
    padding: 0;
    margin: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-color: #fff;
    /*overflow: hidden;*/
    height: 100%;
    position: relative;
}

button:focus,
textarea:focus,
input:focus {
    outline: none;
}

.clean-list {
    padding: 0;
    margin: 0;
}

.clean-list li {
    list-style: none
}

.clearfix {
    *zoom: 1;
}

.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    content: ".";
    display: block;
    font-size: 0;
    line-height: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

html,
body,
input,
button,
select,
textarea {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #3e3e3e;
    line-height: 1.3;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: 'BebasNeue';
    line-height: 1.3;
    font-size: 1em;
    color: #121920;
}

.fl-left {
    float: left
}

.fl-right {
    float: right
}

.fl-no {
    float: none
}

.w-auto {
    width: auto
}

.clear {
    clear: both
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.visible-block {
    display: none;
}

.table {
    display: table;
    width: 100%;
    max-width: 100%;
}

.table-cell {
    display: table-cell
}

.table th,
.table td {
    border: 1px solid #e1e1df;
}

.btn,
a.btn,
button.btn {
    position: relative;
    display: inline-block;
    line-height: 43px;
    height: 43px;
    padding: 0 10px;
    border: none;
    text-decoration: none !important;
    outline: none;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn:hover,
a.btn:hover,
button.btn:hover {
    opacity: 0.7;
}

.btn-primary:active:hover,
.btn-primary:active:focus {
    opacity: 0.8;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus {
    background-color: #78bc61;
}

.easing,
.easing * {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.no-easing {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.row-group {
    position: relative;
}

.input-group,
.form-group {
    position: relative;
}

.form-group {
    margin-top: 35px;
}

.form-group:first-child {
    margin: 0
}

.control-label {
    display: inline-block;
    position: relative;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
.form-control {
    background: #fff;
    border: 2px solid #e5e4d7;
    padding: 7px 22px 7px 22px;
    width: 100%;
    height: 60px;
    outline: none;
    line-height: 60px;
    color: #222;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

textarea,
textarea.form-control {
    height: 120px;
    resize: vertical;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
}

.form-control:focus,
.search-area .form-control:focus {
    background: #fff;
    border: 2px solid #b0afa2;
    /*
    -webkit-box-shadow: 0 0 3px #57aad1;
    -moz-box-shadow: 0 0 3px #57aad1;
    box-shadow: 0 0 3px #57aad1;*/
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.ta-right {
    text-align: right;
}

.ta-center {
    text-align: center;
}

.visible-xs-block {
    display: none;
}


/* Start Content */

#wrapper {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

#wrap-page-content {
    left: 0;
    background: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    z-index: 99;
    height: 100%;
}

.page-content {
    height: auto;
    min-height: 100%;
    padding: 0 0 322px 0;
}

.main-content {
    position: relative;
    padding: 0;
}


/*
.main-content p {
    margin: 0 0;
}
*/

.b-block {
    position: relative;
    padding: 0 15px;
    height: 100%;
}

.center-content {
    max-width: 1170px;
    margin: 0 auto;
}

.content-inner {
    position: relative;
    width: 100%;
    z-index: 5;
}

#header::before {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    visibility: hidden;
    z-index: 99;
}

#header,
#header .header-content {
    height: 108px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#header {
    position: relative;
}

#header .header-content {
    background: transparent;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0);*/
    left: 0;
    padding: 0 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 101;
    background-color: #f0f6f4;
    border-bottom: 1px solid transparent;
}

#header .header-content__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    position: relative;
    z-index: 20;
    height: 100%;
}

#header .header-nav {
    display: flex !important;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 0 0 0;
    width: 100%;
}

#header .header-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#header .header-nav li {
    display: flex;
    vertical-align: middle;
    margin-right: 27px;
}

#header .header-nav li:nth-child(2) {
    flex: 1;
}

#header .header-nav li:nth-child(3),
#header .header-nav li:nth-child(4) {
    margin-left: auto;
}

#header .header-nav li:last-of-type {
    margin-right: 0;
}

#header .header-nav .link {
    display: block;
    color: #121920;
    line-height: 1.7;
    text-decoration: none;
    transition: all 0.25s ease;
}

#header .header-nav .link:hover {
    opacity: 0.7;
}

#header .header-nav .link i {
    display: inline-block;
    vertical-align: -3px;
    font-size: 1.5625em;
    margin-right: 3px;
}

#header .header-nav .link:last-of-type i {
    margin-left: 1px;
    font-size: 1.5em;
}

#header .header-nav .btn {
    width: 130px;
}

#header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 114px;
}

#header .logo a {
    padding: 0;
    margin: 0;
    /*width: 113px;
    height: 68px;*/
}

#header .logo img {
    display: inline-block;
    /*height: 68px;*/
    margin: 0;
}

#header .wrap-nav-buttons {
    display: none;
    position: relative;
    float: right;
    right: 0;
    top: 0;
    vertical-align: middle;
    width: 51px;
    height: 100%;
    z-index: 150;
}

#header .btn-menu {
    display: none;
}

#header a.btn-close-menu {
    display: none;
}

.sticky-header #header .header-content {
    position: fixed;
    border-bottom: 1px solid #c8c8c8;
}

.main-content {
    position: relative;
    width: 100%;
}

.s-section {
    padding: 0;
}

.mCheckable {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 0 14px 0 0;
    text-align: center;
    background-color: #fff;
    border: 2px solid #e5e4d7;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    font-size: 0;
    line-height: 1;
    vertical-align: 0;
    transition: all 0.25s ease;
}

.mCheckable em {
    background-color: #e5e4d7;
    margin-top: 10px;
    display: inline-block;
    position: relative;
    border-radius: 5px;
    width: 16px;
    height: 16px;
    vertical-align: 0;
    transition: all 0.25s ease;
}

.mCheckable em:after {
    content: '';
    transition: all 0.25s ease;
}

.mCheckable.checked {
    background-color: #36c1ba;
    border: 2px solid #36c1ba;
}

.mCheckable.checked em {
    background-color: #36c1ba;
}

.mCheckable.checked em:after {
    content: "\e914";
    font-family: 'icons';
    top: 45%;
    left: 40%;
    transform: translate(-45%, -40%);
    position: absolute;
    font-size: 13px;
    color: #fff;
}


/*
.mCheckable.radiobutton {
    border-radius: 50%;
}

.mCheckable.radiobutton em {
    border-radius: 50%;
}*/

.s-title {
    position: relative;
    margin: 0 0 17px 0;
    padding: 0 0 20px 0;
    font-size: 3.75em;
    color: #121920;
    text-align: center;
    font-weight: 400;
    font-family: 'BebasNeue';
    line-height: 1;
}

.s-title:after {
    content: '';
    display: block;
    position: absolute;
    width: 35px;
    height: 9px;
    background-image: url(../img/title-shape-b.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.s-subtitle {
    text-align: center;
    color: #41474d;
    padding: 0;
    margin: 0 auto;
    max-width: 750px;
    line-height: 1.5;
}

.s-order {
    position: relative;
    margin: 0 0 0 0;
    padding: 95px 0 95px 0;
    overflow: hidden;
}

.s-order .s-title {
    margin-top: 9px;
}

.s-order .s-subtitle strong {
    color: #121920;
}

.s-order form {
    margin-top: 27px;
}

.s-order .row {
    display: flex;
    align-content: center;
    align-items: center;
    height: 100%;
}

.s-order .row .col:last-of-type {
    align-self: flex-start;
}

.s-order .row.hidden {
    display: none;
}

.s-order .checkbox-wrap {
    margin-bottom: 2.5em;
    transition: all 0.2s ease;
}

.s-order .select-wrap {
    margin: 0 0 20px 0;
}

.s-order .select-wrap {
    height: 60px;
}

.select2-container--default .select2-selection--single {
    border: 2px solid #e5e4d7;
    border-radius: 5px;
    height: 60px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #121920;
    line-height: 56px;
    padding-left: 17px;
    padding-right: 39px;
    font-size: 1.5em;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 56px;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 39px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #e5e4d7 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.select2-results__option {
    padding: 6px 17px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #e5e4d7;
    color: #121920;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #e5e4d7;
}

.s-order .control-label-custom {
    height: 40px;
    margin: 0;
    vertical-align: middle;
}

.s-order .control-label-custom .checkbox-helper {
    display: inline-block;
    vertical-align: -8px;
    font-weight: 700;
    color: #121920;
    line-height: 1.2;
}

.s-order .control-label-custom.checked .checkbox-helper {
    color: #36c1ba;
}

.s-order .control-label-custom.checked .checkbox-helper span,
.s-order .control-label-custom .checkbox-helper span {
    display: block;
    font-weight: 400;
    color: #878a8d;
}

.s-order .order-original-price {
    font-weight: 400;
    line-height: 1.5;
    color: #878a8d;
    margin-bottom: 6px;
}

.s-order .order-price {
    font-size: 1.125em;
    line-height: 1.5;
    color: #121920;
}

.s-order .order-price strong {
    font-weight: 700;
}

.s-order .order-text {
    color: #121920;
    line-height: 1.5;
}

.s-order .btn {
    height: 60px;
    line-height: 60px;
    width: 100%;
    font-size: 1.5em;
}

.tooltip_templates {
    display: none;
}

.tooltipster-base {
    max-width: 277px;
}

.tooltipster-sidetip .tooltipster-box {
    background: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

.tooltipster-sidetip .tooltipster-content {
    color: #121920;
    line-height: 1.1;
    font-size: 0.8125em;
    padding: 12px 16px;
}

.tooltipster-sidetip .tooltipster-content p {
    margin-bottom: 12px;
}

.tooltipster-sidetip .tooltipster-content p:last-of-type {
    margin-bottom: 0;
}

.tooltipster-sidetip .tooltipster-content p a {
    color: #36c1ba;
    text-decoration: underline;
}

.tooltipster-sidetip .tooltipster-content p a:hover {
    text-decoration: none;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #fff;
    left: 0;
    top: -3px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
    border: 10px solid transparent;
    border-top-color: #fff;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {
    left: 50% !important;
}

.s-what-is {
    position: relative;
    margin: 0 0 0 0;
    padding: 90px 0 90px 0;
    overflow: hidden;
    background-color: #36c1ba;
}

.s-what-is .row {
    padding: 0;
    display: flex;
    align-content: center;
    align-items: center;
    height: 100%;
}

.s-what-is .s-title {
    color: #fff;
}

.s-what-is .s-title:after {
    background-image: url(../img/title-shape-w.png);
}

.s-what-is .s-subtitle {
    color: #fff;
    line-height: 1.45;
}

.s-what-is .s-subtitle:first-of-type {
    margin-bottom: 24px;
}

.s-what-is .video {
    border-radius: 8px;
    cursor: pointer;
}

.s-what-is .play-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.s-what-is .play-video i {
    font-size: 5em;
}

.s-what-is .play-video span {
    display: block;
    font-weight: 700;
    font-size: 1.125em;
}

.s-why-simpleat {
    position: relative;
    margin: 0 0 0 0;
    padding: 91px 0 100px 0;
    overflow: hidden;
    background-color: #fff;
}

.s-why-simpleat .items-list {
    position: relative;
    margin: 42px 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.s-why-simpleat .items-list .item {
    width: 14.47%;
    margin: 0 2.63% 20px 0;
}

.s-why-simpleat .items-list .item:last-of-type {
    margin-right: 0;
}

.s-why-simpleat .items-list .item-image {
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    */
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.s-why-simpleat .items-list .item-image i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4.5em;
    z-index: 10;
}

.s-why-simpleat .items-list .item-image img {
    display: block;
    width: 100%;
    transition: all 0.2s ease;
    z-index: 9;
}

.s-why-simpleat .items-list .item-image:hover img {
    transform: scale(1.04);
}

.s-why-simpleat .items-list .item-content {
    position: relative;
    text-align: center;
}

.s-why-simpleat .items-list .item-content h3 {
    font-size: 1.5em;
    margin: 35px 0 12px 0;
}

.s-why-simpleat .items-list .item-content p {
    font-size: 0.8125em;
    line-height: 1.55;
    margin: 0;
}

.s-why-simpleat .row {
    text-align: center;
    margin: 0;
}

.s-why-simpleat .row .btn {
    height: 60px;
    line-height: 60px;
    width: 249px;
    font-size: 1.125em;
}

.s-testimonial {
    position: relative;
    margin: 0;
    padding: 91px 0 82px 0;
    background-color: #f0f6f4;
}

.s-testimonial .items-list {
    position: relative;
    margin: 39px 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.s-testimonial .items-list .item {
    position: relative;
    width: 23.07%;
    max-width: 263px;
    margin: 0 2.573% 0 0;
}

.s-testimonial .items-list .item.has-video {
    cursor: pointer;
}

.s-testimonial .items-list .item:last-of-type {
    margin-right: 0;
}

.s-testimonial .items-list .item-image {
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    */
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.s-testimonial .items-list .item-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.s-testimonial .items-list .item-corners {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.s-testimonial .items-list .item.video-opened .item-corners,
.s-testimonial .items-list .item.video-paused .item-corners {
    display: inline-block;
}

.s-testimonial .items-list .item-video video {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.s-testimonial .items-list .item-image:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(transparent, #000);
    opacity: 0.5;
    transition: all 0.3s ease;
}

.s-testimonial .items-list .item.video-opened .item-image,
.s-testimonial .items-list .item.video-paused .item-image {
    background-color: #000;
}

.s-testimonial .items-list .item.video-opened .item-image:after {
    content: none;
    display: none;
}

.s-testimonial .items-list .item.has-video:hover .item-image:after {
    opacity: 0.7;
}

.s-testimonial .items-list .video-controls {
    position: absolute;
    border-radius: 50%;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
}

.s-testimonial .items-list .video-controls i {
    color: #fff;
    font-size: 1.875em;
}

.s-testimonial .items-list .item.has-video .icon-stop {
    display: none;
}

.s-testimonial .items-list .item.video-opened .icon-play {
    display: none;
}

.s-testimonial .items-list .item.video-opened .icon-stop {
    display: inline-block;
}

.s-testimonial .items-list .item.video-paused .icon-play {
    display: inline-block;
}

.s-testimonial .items-list .item.video-paused .icon-stop {
    display: none;
}

.s-testimonial .items-list .item-content {
    position: absolute;
    left: 0;
    bottom: 15px;
    color: #fff;
    transition: all 0.5s ease;
}

.s-testimonial .items-list .item.video-opened .item-content {
    bottom: -100%;
}

.s-testimonial .items-list .item-title {
    display: block;
    font-size: 0.875em;
    font-weight: 700;
    padding: 0 15px 5px 15px;
    height: 1.59em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.s-testimonial .items-list .item-text {
    display: block;
    padding: 0 15px 0 15px;
    font-size: 0.8125em;
    line-height: 1.25;
    height: 2.65em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.s-testimonial .items-list .item-text p {
    font-size: inherit;
    line-height: 1.25;
    height: 3.69em;
    margin: 0;
}

.s-ingredients {
    position: relative;
    padding: 91px 0 82px 0;
    overflow: hidden;
}

.s-ingredients .items-list {
    position: relative;
    margin: 37px -20px 0 -20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.s-ingredients .items-list .item {
    /*width: 17.10%;*/
    width: 195px;
    margin: 0 20px 20px 20px;
    transition: all 0.3s ease;
}


/*
.s-ingredients .items-list .item:last-of-type {
    margin: 0;
}*/

.s-ingredients .items-list .item-image {
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    */
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.s-ingredients .items-list .item-image img {
    display: block;
    width: 100%;
    transition: all 0.2s ease;
}

.s-ingredients .items-list .item-image:hover img {
    transform: scale(1.04);
}

.s-ingredients .items-list .item-content {
    position: relative;
    text-align: center;
}

.s-ingredients .items-list .item-content h3 {
    font-size: 1.5em;
    margin: 13px 0 13px 0;
}

.s-ingredients .items-list .item-content p {
    font-size: 0.8125em;
    line-height: 1.5;
    margin: 0;
}

.s-facts {
    position: relative;
    padding: 91px 0 82px 0;
    background-color: #f0f6f4;
}

.s-facts .items-list {
    position: relative;
    margin: 39px 0 39px 0;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.s-facts .items-list .item {
    position: relative;
    width: 31.58%;
    margin: 0 2.63% 0 0;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.s-facts .items-list .item:first-of-type {
    justify-content: flex-end;
}

.s-facts .items-list .item:last-of-type {
    margin: 0;
    justify-content: flex-start;
}

.s-facts .items-list .item ul {}

.s-facts .items-list .item li {
    display: block;
    position: relative;
    padding: 0 74px 0 0;
    margin: 0 0 39px 0;
}

.s-facts .items-list .item:first-of-type li {
    text-align: right;
    padding: 0 74px 0 0;
    margin: 0 0 39px 0;
}

.s-facts .items-list .item:first-of-type li:after {
    content: '';
    font-family: 'icons';
    font-size: 3.75em;
    color: #7fcdc7;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 74px;
    height: auto;
    vertical-align: middle;
}

.s-facts .items-list .item:first-of-type li:nth-of-type(1):after {
    content: "\e90d";
}

.s-facts .items-list .item:first-of-type li:nth-of-type(2):after {
    content: "\e90f";
    font-size: 3.375em;
}

.s-facts .items-list .item:first-of-type li:nth-of-type(3):after {
    content: "\e912";
}

.s-facts .items-list .item:first-of-type li:nth-of-type(2) {
    margin-right: 34px;
}

.s-facts .items-list .item:last-of-type li {
    padding: 0 0 0 74px;
}

.s-facts .items-list .item:last-of-type li:after {
    content: '';
    font-family: 'icons';
    font-size: 3.75em;
    color: #7fcdc7;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 74px;
    height: auto;
    vertical-align: middle;
}

.s-facts .items-list .item:last-of-type li:nth-of-type(1):after {
    content: "\e908";
    font-size: 3.5em;
}

.s-facts .items-list .item:last-of-type li:nth-of-type(2):after {
    content: "\e911";
    top: 0;
    transform: translateY(0);
}

.s-facts .items-list .item:last-of-type li:nth-of-type(3):after {
    content: "\e90e";
    top: 0;
    transform: translateY(0);
}

.s-facts .items-list .item:last-of-type li:nth-last-of-type(2) {
    margin-left: 34px;
}

.s-facts .items-list .item ul li:last-of-type {
    margin-bottom: 0;
}

.s-facts .items-list .title {
    display: block;
    font-weight: 700;
    font-size: 1.125em;
    color: #121920;
    margin: 0 0 7px 0;
}

.s-facts .items-list .item li p {
    font-size: 0.875em;
    line-height: 1.25;
    margin: 0;
}

.s-facts .row {
    text-align: center;
    margin: 0;
}

.s-facts .link {
    font-size: 1.125em;
    color: #78bc61;
    text-decoration: underline;
}

.s-facts .link:hover {
    text-decoration: none;
}

.s-facts .btn {
    height: 60px;
    line-height: 60px;
    width: 200px;
    font-size: 1.125em;
    margin-top: 36px;
}

.s-about {
    position: relative;
    padding: 91px 0 126px 0;
    background-color: #fff;
}

.s-about .row {
    padding: 39px 0 0 0;
    margin: 0;
    text-align: center;
}

.s-superfood {
    position: relative;
    padding: 91px 0 100px 0;
    background-color: #f0f6f4;
}

.s-superfood .nav-tabs-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 43px;
    overflow: hidden;
}

.s-superfood .nav-tabs {
    text-align: center;
    border-bottom: none;
    margin: 0 auto;
    max-width: 840px;
}

.s-superfood .nav-tabs>li>a {
    font-family: 'Bebas Neue';
    font-size: 1.5em;
    color: #121920;
}

.s-superfood .nav>li>a {
    padding-top: 4px;
    padding-bottom: 4px;
}

.s-superfood .nav-tabs.nav-justified>li>a {
    border-color: transparent;
    border-radius: 0;
    position: relative;
}

.s-superfood .nav-tabs.nav-justified>li>a:after {
    content: '';
    width: 30px;
    height: 3px;
    background-color: #121920;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease;
}

.s-superfood .nav-tabs.nav-justified>.active>a,
.s-superfood .nav-tabs.nav-justified>.active>a:focus,
.s-superfood .nav-tabs.nav-justified>.active>a:hover {
    border-color: transparent;
    background-color: none;
    color: #36c1ba;
}

.s-superfood .nav-tabs>li.active>a,
.s-superfood .nav-tabs>li.active>a:focus,
.s-superfood .nav-tabs>li.active>a:hover {
    background-color: transparent;
    color: #36c1ba;
}

.s-superfood .nav-tabs>li.active>a:after,
.s-superfood .nav-tabs>li.active>a:focus:after,
.s-superfood .nav-tabs>li.active>a:hover:after {
    background-color: #36c1ba;
    width: 70px;
}

.s-superfood .nav>li>a:focus,
.s-superfood .nav>li>a:hover {
    color: #36c1ba;
    background-color: transparent;
}

.s-superfood .nav>li>a:focus:after,
.s-superfood .nav>li>a:hover:after {
    background-color: #36c1ba;
    width: 70px;
}

.s-superfood .tab-content {
    margin: 38px 0 39px 0;
}

.s-superfood .tab-content-inner {
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 30px 0;
}

.s-superfood .tab-content-inner .column {
    position: relative;
}

.s-superfood .tab-content-inner .column:first-of-type {
    width: 40.18%;
    margin-right: 2.63%;
    padding-left: 0;
}

.s-superfood .tab-content-inner .column:last-of-type {
    width: 57.19%;
    padding-right: 48px;
}

.s-superfood .column-image {
    text-align: center;
}

.s-superfood .column-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0 15px;
    display: inline-block;
    width: 100%;
    font-size: 1.875em;
}

.s-superfood .column table {
    width: 100%;
}

.s-superfood .column table th,
.s-superfood .column table td {
    border-bottom: 1px solid #e7e8e8;
    line-height: 1.4;
    padding: 6px 6px 6px 0;
}

.s-superfood .column table tbody tr:last-of-type td {
    border-bottom: none;
}

.s-superfood .column table tr td:first-of-type {
    font-weight: 700;
    color: #36c1ba;
}

.s-superfood .row {
    text-align: center;
    margin: 0;
}

.s-superfood .row .btn {
    height: 60px;
    line-height: 60px;
    width: 200px;
    font-size: 1.125em;
}

.s-join-us {
    position: relative;
    padding: 91px 0 90px 0;
    background-color: #fff;
}

.s-join-us .row {
    text-align: center;
    padding-top: 45px;
    margin: 0;
}

.s-join-us .form-control {
    width: 509px;
    height: 60px;
    border-radius: 5px;
    color: #121920;
    font-size: 1.5em;
}

.s-join-us .form-control::placeholder {
    color: #121920;
}

.s-join-us .btn {
    height: 60px;
    line-height: 60px;
    font-size: 1.5em;
    width: 221px;
    margin-left: 16px;
}

#go-top {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #121920;
    border-radius: 50%;
    background-color: #121920;
    bottom: 25px;
    right: 15px;
    z-index: 111;
    text-align: center;
    line-height: 48px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    color: #fff;
}

#go-top i {
    position: relative;
    display: inline-block;
    font-size: 0.8125em;
    line-height: 48px;
    color: #fff;
    margin: 0;
}

#go-top:hover {
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    -ms-opacity: 0.6;
    -o-opacity: 0.6;
    opacity: 0.6;
}

#go-top.fixed {
    position: fixed;
    bottom: 25px;
    right: 15px;
    z-index: 111;
}

#footer {
    margin: -322px 0 0 0;
    position: relative;
    clear: both;
    background-color: #192632;
    color: #fff;
}

#footer .footer-top {
    max-width: 100%;
    margin: 0;
    padding: 0 0 0 0;
    position: relative;
    height: 242px;
    text-align: center;
}

#footer .footer-top .content-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#footer .footer-top .b-block {
    padding-left: 0;
    padding-right: 0;
}

#footer .footer-nav-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    z-index: 5;
}

#footer .footer-nav-wrapper:last-of-type {
    padding: 23px 0;
}

#footer .footer-nav-social {
    display: flex;
    justify-content: center;
    list-style: outside none none;
    margin: 0;
    padding: 0 0 0 0;
}

#footer .footer-nav-social li {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 21px;
}

#footer .footer-nav-social a {
    position: relative;
    text-decoration: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

#footer .footer-nav-social a:hover {
    opacity: 0.7;
}

#footer .footer-nav-social a i {
    font-size: 3.125em;
}

#footer .footer-nav {
    display: flex;
    justify-content: center;
    list-style: outside none none;
    margin: 0;
    padding: 0 0 0 0;
}

#footer .footer-nav li {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 1.875;
    margin: 0 0 0 0;
    padding: 0 27px;
}

#footer .footer-nav li:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #445059;
    width: 1px;
    height: 30px;
    margin: 0;
}

#footer .footer-nav li:last-of-type:after {
    content: none;
}

#footer .footer-nav a {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.875;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

#footer .footer-nav a:hover {
    opacity: 0.7;
}

#footer .copy {
    position: relative;
    /*line-height: 36px;*/
    margin: 0;
    padding: 0 0;
    z-index: 5;
}

#footer .copy .symbol-copy {
    font-size: 16px;
    margin: 0 2px;
}

#footer .footer-bottom {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0;
    height: 80px;
    background-color: #121920;
}

#footer .footer-contacts {
    display: inline-block;
    height: 100%;
}

#footer .footer-languages {
    float: right;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 17.10%;
    min-width: 150px;
}

#footer .footer-languages .fit-width {
    width: 100% !important;
    margin-bottom: 0;
}

#footer .footer-languages .btn {
    height: 40px;
    line-height: 40px;
    background-color: #1e252b;
    font-size: 0.8125em;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 35px;
}

#footer .footer-languages .btn:hover,
#footer .footer-languages a.btn:hover,
#footer .footer-languages button.btn:hover {
    opacity: 0.8;
    color: #fff;
}

#footer .footer-languages .open>.dropdown-toggle.btn-default,
#footer .footer-languages .btn-default.active,
#footer .footer-languages .btn-default:active,
#footer .footer-languages .btn-default.focus,
#footer .footer-languages .btn-default:focus {
    color: #fff;
}

#footer .footer-languages .bootstrap-select.btn-group.fit-width .btn .caret {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    border: none;
}

#footer .footer-languages .bootstrap-select.btn-group.fit-width .btn .caret:after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100%, -50%);
    content: "\e917";
    font-family: 'icons';
    font-size: 0.4em;
    color: #fff;
}

#footer .footer-languages .flag-icon {
    width: 1.1875em;
    margin-right: 7px;
}

#footer .footer-contacts-nav {
    display: flex;
    justify-content: center;
    list-style: outside none none;
    margin: 0;
    padding: 0 0 0 0;
    height: 100%;
}

#footer .footer-contacts-nav li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 0 0;
    padding: 0 32px 0 0;
}

#footer .footer-contacts-nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
    transition: all 0.2s ease;
    text-decoration: none;
}

#footer .footer-contacts-nav li a:hover {
    opacity: 0.7;
}

#footer .footer-contacts-nav li .icon {
    display: inline-block;
    margin: 0 15px 0 0;
}

#footer .footer-contacts-nav li .icon i {
    font-size: 2.5em;
}

#footer .footer-contacts-nav li .content {
    display: inline-block;
}

#footer .footer-contacts-nav li .text {
    display: block;
    font-size: 1.125em;
    line-height: 1;
    margin-bottom: 3px;
}

#footer .footer-contacts-nav li .description {
    display: block;
    font-size: 0.8125em;
    line-height: 1.5;
}

.modal {
    text-align: center;
    padding: 0 !important;
    font-size: 0;
}


/*.modal:before {*/


/*content: '';*/


/*display: inline-block;*/


/*height: 100%;*/


/*vertical-align: middle;*/


/*margin-right: -4px;*/


/*}*/

.modal-dialog {
    /*display: inline-block;*/
    position: absolute;
    width: 400px;
    left: 50%;
    top: 50%;
    padding: 0 10px;
    margin: 10px auto;
    font-size: 14px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    /*-webkit-transform: translate(0, -50%);*/
    /*-moz-transform: translate(0, -50%);*/
    /*-ms-transform: translate(0, -50%);*/
    /*-o-transform: translate(0, -50%);*/
    /*transform: translate(0, -50%);*/
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
    -o-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
}

.modal.in .modal-dialog {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal-content {
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0 auto 0 auto;
    border: none;
    box-shadow: none;
}

.modal-header {
    border-bottom: none;
    padding: 0 0 0 0;
    background: transparent;
}

.modal-body .close {
    display: block;
    position: absolute;
    top: 0;
    right: -48px;
    margin: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.modal-body .close i {
    font-size: 30px;
    color: #e1e1e1;
}

.modal-title {
    color: #fff;
    font-size: 35px;
    line-height: 1.15;
    margin: 0;
}

.modal-body {
    padding: 0;
    box-shadow: none;
    border: none;
}

.modal-footer {
    padding: 0;
    border: none;
}

.modal-backdrop {
    background-color: #000;
}

#modal-video.modal .modal-dialog {
    width: 88%;
    max-width: 853px;
    background-color: #000;
    padding: 1px 0;
}

#modal-video.modal.fade .modal-dialog {
    -webkit-transform: scale(0.7, 0.7) translate(-50%, -50%);
    -moz-transform: scale(0.7, 0.7) translate(-50%, -50%);
    -ms-transform: scale(0.7, 0.7) translate(-50%, -50%);
    -o-transform: scale(0.7, 0.7) translate(-50%, -50%);
    transform: scale(0.7, 0.7) translate(-50%, -50%);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

#modal-video.modal.in .modal-dialog {
    -webkit-transform: scale(1, 1) translate(-50%, -50%);
    -moz-transform: scale(1, 1) translate(-50%, -50%);
    -ms-transform: scale(1, 1) translate(-50%, -50%);
    -o-transform: scale(1, 1) translate(-50%, -50%);
    transform: scale(1, 1) translate(-50%, -50%);
}

#modal-video .modal-close {
    position: absolute;
    background: none;
    border: none;
    font-size: 24px;
    right: -35px;
    color: #000;
}

.video-wrapper {
    position: relative;
    /*padding-top: 25px;*/
    padding-bottom: 56.25%;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.cookie-panel {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 658px;
    width: 100%;
    height: auto;
    background-color: #121920;
    border-radius: 9px;
    z-index: 100;
    padding: 20px 30px;
    color: #fff;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    transition: all 0.5s ease;
    opacity: 1;
}

.cookie-panel.hidden {
    height: 0;
    opacity: 0;
    display: none;
    transition: all 0.5s ease;
}

.cookie-panel-text {
    position: relative;
    font-size: 0.875em;
    line-height: 1.25;
    padding: 0 15px 0 32px;
    width: calc(100% - 118px);
}

.cookie-panel-text:before {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    background-image: url(../img/icon-warning.png);
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'icons';
    font-size: 1.375em;
    color: #5a5e63;
}

.cookie-panel .btn {
    width: 118px !important;
    height: 40px;
    line-height: 40px;
}


/*loader*/

.loader,
.loader:before,
.loader:after {
    border: 3px solid transparent;
    border-radius: 50%;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    height: 100px;
    width: 100px;
    border-top-color: #78bc61;
    animation: spin 1s linear infinite;
    z-index: 100002;
    transition: 0.5s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
}

.loader:before {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top-color: #f0f6f4;
    animation: spin 1.7s linear infinite;
}

.loader:after {
    top: 23px;
    left: 23px;
    right: 23px;
    bottom: 23px;
    border-top-color: #36c1ba;
    animation: spin 2.4s linear infinite;
}

.loader:before {
    animation: spin 1.7s linear infinite;
}

.loader:after {
    animation: spin 2.4s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 100000;
    transition: 0.5s;
}

.loaded .preloader {
    opacity: 0;
    visibility: hidden;
}

.loaded .loader {
    opacity: 0;
}


/*
.loaded .preloader-left {
    transform: translate(-100%);
}

.loaded .preloader-right {
    transform: translate(100%);
}
*/